<ul>

<li>
	{{#each cars}}
    {{#if auction}}<br>
    Model: {{model}}<br>
    Make: {{make}}<br>
    Year: {{year}}<br>
    Color: {{color}}<br>
    <img src={{image}}><br>
    bid:
    <div id="currentBid">
    {{bid}}<br>
    </div>
    currentBidder:
    <div id="currentBidder">
    {{currentBidder}}<br>
    </div>
    <form>
        <input type="number" id="bid"></input>
        <input type="text" id="bidder"></input>
        <button id="auctionId" data-value="{{id}}">Submit!</button>
    </form>
    {{/if}}
    {{/each}}

</li>

</ul>