{{#each cars}}
Your favorite new car is a....<br>
{{year}} {{make}} {{model}}<br>
{{color}} {{type}}<br>
Mileage: {{mileage}}<br>
Asking Price: ${{price}}<br>
<img src={{image}}><br>
<div class="car-break"></div>
{{/each}}