<div class="body">
    <p>Holding Place for welcome information</p>
    <div>Holding Place for intial cars that will be rendered on page

        {{moreCars}}
        <ul>
            {{#each moreCars}}
            <li>
                {{this.model}}
                {{!-- id: {{this.id}} --}}
                {{!-- model: req.body.model {{this.model}} --}}
                {{!-- make: req.body.make {{this.make}}
                year: req.body.year {{this.year}}
                mileage: req.body.mileage {{this.mileage}}
                type: req.body.type {{this.type}}
                hidden: req.body.hidden {{this.hidden}}
                {{this.cars}} --}}
            </li>
            {{/each}}
        </ul>
    </div>
</div>

<div class="body-deals">
    <p>Holding Place for deal of the day lottery that is going to be displayed</p>
</div>