<div class="body">
    <p>Holding Place for welcome information</p>
    <div>Holding Place for intial cars that will be rendered on page</div>
    <ul>
        {{#each cars}}
            <li>model: {{model}}</li>
            <li>make: {{make}}</li>
            <li>year: {{year}}</li>
            <li>mileage: {{mileage}}</li>
            <li>type: {{type}}</li>
            <li>color: {{color}}</li>
            <li>price: {{price}}</li>
            <li><img src={{image}}></li>
            <li>hidden: {{hidden}}</li>
        {{/each}}
    </ul>
</div>

<div class="body-deals">
    <p>Holding Place for deal of the day lottery that is going to be displayed</p>
</div>