<div class="body">
    <p>Holding Place for welcome information</p>
    <div>See our current selection below!</div>
    <ul class="car-show">
    {{#each cars}}
    Model: {{model}}<br>
    Make: {{make}}<br>
    Year: {{year}}<br>
    Mileage: {{mileage}}<br>
    Type: {{type}}<br>
    Color: {{color}}<br>
    Price: ${{price}}<br>
    <img src={{image}}><br>
    <div class="car-break"></div>
    {{/each}}
</div>

<div class="body-deals">
    <p>Holding Place for deal of the day lottery that is going to be displayed</p>
</div>