<div class="body">
    <p>Holding Place for welcome information</p>
    <div>Holding Place for all cars that will be rendered on page</div>
    {{#each cars }}
    <ul>
        <li>{{model}}</li>
        <li>{{make}}</li>
        <li>{{year}}</li>
        <li>{{mileage}}</li>
        <li>{{type}}</li>
        <li>{{color}}</li>
        <li>{{price}}</li>
        <li><img src={{image}}></li>
    </ul>
    {{/each}}
</div>

<div class="body-deals">
    <p>Holding Place for deal of the day lottery that is going to be displayed</p>
</div>