<div class="body">
    <p>Holding Place for welcome information</p>
    <div>See our current selection below!</div>
    <ul class="car-show">
        {{#each cars}}
            <li>Model: {{model}}</li>
            <li>Make: {{make}}</li>
            <li>Year: {{year}}</li>
            <li>Mileage: {{mileage}}</li>
            <li>Type: {{type}}</li>
            <li>Color: {{color}}</li>
            <li>Price: {{price}}</li>
            <img src={{image}}>
        {{/each}}
    </ul>
</div>

<div class="body-deals">
    <p>Holding Place for deal of the day lottery that is going to be displayed</p>
</div>