<div class="secret-intro">
    <h2>Welcome to the more luxurious side of Wheelin' N Dealin'</h2>
    <div>
        <h4>Below, you will find vehicles to fit any need you may have, we work with some of the finest collectors in the
        world and curate an elegent inventory for your choice.</h4>
    </div>

    <ul class="secret-show">
        <div>Carma Sutra 2019 inventory</div>
        <p>_________________________________________</p>
        {{#each cars}}
        Model: {{model}}<br>
        Make: {{make}}<br>
        Year: {{year}}<br>
        Mileage: {{mileage}}<br>
        Type: {{type}}<br>
        Color: {{color}}<br>
        Price: ${{price}}<br>
        <img src={{image}}><br>
        <div class="car-break"></div>
        {{/each}}
</div>
<div class="body-deals">
    <p>Holding Place for deal of the day lottery that is going to be displayed</p>
</div>