<div class="secret-intro">
    <h2>Welcome to the more luxurious side of Wheelin' N Dealin'</h2>
    <div>
        <h4>Below, you will find vehicles to fit any need you may have, we work with some of the finest collectors in the
        world and curate an elegent inventory for your choice.</h4>
    </div>

    <ul class="secret-show">
        <br>
        <div><h3>Carma Sutra 2019 Inventory</h3></div>
        <div class="car-break"></div>
        <br>
        {{#each cars}}
            {{#if hidden}}
                Your favorite new car is a....<br>
                {{year}} {{make}} {{model}}<br>
                {{color}} {{type}}<br>
                Mileage: {{mileage}}<br>
                Asking Price: ${{price}}<br>
                <img src={{image}}><br>
                <div class="car-break"></div>
            {{/if}}
        {{/each}}
</div>
<div class="body-deals">
    <p>Holding Place for deal of the day lottery that is going to be displayed</p>
</div>